<?xml version="1.0" encoding="UTF-8" ?>
<widget 
	id="info.wexfordharbour.app"
    version="1.2" ios-CFBundleVersion="1.2.2"
    android-versionCode="10202" 
	xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" >
	<!--     version="1.1.1" > -->
<!-- versionCode is optional and Android only -->
  <author email="bcoulter@wexfordharbour.info" href="http://wexfordharbour.info">b@WexWx</author>
  <name>wexford harbour information</name>
  <description>
       Wexford Harbour Information
  </description>
  <!-- <preference name="phonegap-version" value="cli-6.3.0" /> -->
   <!--<feature name="http://api.phonegap.com/1.0/network"/> -->
  <platform name="android">
    <icon src="wexhrbr.png" width="180" height="180" />
  </platform>
  <platform name="ios">
    <icon src="wexhrbr.png" width="180" height="180" />
  </platform>
  <platform name="winphone">
    <icon src="wexhrbr.png" width="180" height="180" />
  </platform>
  <plugin name="cordova-plugin-inappbrowser" source="npm" />
  <plugin name="cordova-plugin-whitelist" source="npm" />
  <access origin="http://*" />
  <access origin="https://*" />
</widget>
