<?xml version="1.0" encoding="UTF-8" ?>
<widget id="info.wexfordharbour.app" 
    android-versionCode="10101"
    version="1.1.1" >
 xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
<!-- versionCode is optional and Android only -->
  <author email="brian@wexfordharbour.info" href="http://wexfordharbour.info">b@WexWx</author>
  <name>wexford harbour information</name>
  <description>
       Wexford Harbour Information
  </description>
  <preference name="windows-identity-name" value="20129bWexWx.wexfordharbourinformation" />
  <preference name="WindowsStorePublisherName" value="CN=1FC018DA-39D7-4CA3-AF4C-85FC4183577F" />
  <platform name="android">
    <icon src="wexhrbr.png" width="180" height="180" />
  </platform>
  <platform name="ios">
    <icon src="wexhrbr.png" width="180" height="180" />
  </platform>
  <platform name="winphone">
    <icon src="wexhrbr.png" width="180" height="180" />
  </platform>
  <plugin name="cordova-plugin-inappbrowser" source="npm" />
  <plugin name="cordova-plugin-whitelist" source="npm" />
  <!--  <access origin="http://wexfordharbour.info/" />
  <access origin="http://wexfordharbour.info/ajaxapp/" />
  <access origin="https://wexfordharbour.info/ajaxapp/" /> -->
  <access origin="http://*" />
  <access origin="https://*" />
</widget>
